.difficulty-select {
  justify-self: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 600px;
  width: 100%;
  padding: var(--space-lg);
  container-type: inline-size;
}

.difficulty {
  justify-self: center;
  font-size: 3.539823cqi;
  padding-block: 2.173913cqi;
  width: 27.173913cqi;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
  text-transform: uppercase;
  background-color: var(--neutral-300);
  color: var(--neutral-1100);
  font-weight: var(--fw-bold);
  transition: background-color, color, box-shadow 200ms ease;
  box-shadow: 0px 0px 60px var(--neutral-600);
  -webkit-box-reflect: below 10px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4));
  transition: scale 500ms;
  @starting-style {
    scale: 0;
  }
}

.difficulty:active {
  scale: 0.92;
}

.difficulty:hover {
  background-color: red;
  box-shadow: 0px 0px 60px red;
  color: var(--neutral-300);
}