.gameover-modal {
  border: none;
  border-radius: 4px;
  padding: var(--space-xl);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
  width: 400px;
  background-color: var(--neutral-1000);
  color: var(--neutral-100);
  overflow: visible;
  transition: scale 500ms;
  @starting-style {
    scale: 0;
  }
}

.gameover-modal::backdrop {
  background: rgba(0, 0, 0, 0.6);
}

.gameover-modal[open] {
  position: fixed;
  inset: 0;
  margin: auto;
}

.gameover-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  gap: var(--space-lg);
}

.gameover-title {
  font-size: var(--fs-2xl);
}

.gameover-wrapper > *:not(:is(.back-to-menu, .retry)) {
  grid-column: 1 / -1;
}

.gameover-item-wrapper, .gameover-item-button {
  background-color: var(--neutral-1100);
  padding: var(--space-md);
  border-radius: 8px;
}

.gameover-item-wrapper {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.gameover-item-button {
  color: var(--neutral-100);
  border: none;
  width: 100%;
  cursor: pointer;
}

.gameover-item-button:hover {
  background-color: var(--neutral-900);
  box-shadow: 0px 0px 10px var(--neutral-700);
}

.gameover-item-button:active {
  scale: 0.92;
}
