.in-game {
  justify-self: center;
  display: grid;
  grid-template-rows: auto 1fr;
  max-width: 1200px;
  gap: var(--space-md);
  width: 100%;
  padding: var(--space-lg);
  container-type: inline-size;
}

.in-game__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.in-game .title-wrapper {
  text-align: center;
}

.in-game .title-image {
  width: 26.04167cqi;
  min-width: 128px;
}
.in-game .title-wrapper p {
  font-size: max(1.215277cqi, 0.375rem);
}

.scores {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
  font-size: max(3cqi, 1rem);
}

.in-game__body {
  align-self: center;
}

.active-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--space-md);
}

.card {
  --height: 300px;
  --width: calc(var(--height) * 0.71413043478);
  cursor: pointer;
  width: var(--width);
  height: var(--height);
  border-radius: 4px;
  background: url('../assets/images/card-background-image.jpg') center / cover no-repeat;
  padding: var(--space-sm);
  display: grid;
  grid-template-rows: 1fr auto;
  text-align: center;
/*   animation: switch 500ms ease 1 forwards; */
}

.card__image {
  border-radius: 4px;
}

.card p {
  padding-top: var(--space-sm);
}

/* @keyframes switch {
  0% {
    transform: rotate3d(0, 1, 0, 0deg);
  }

  100% {
    transform: rotate3d(0, 1, 0, 180deg);
  }
} */
