.in-game {
  justify-self: center;
  display: grid;
  grid-template-rows: auto 1fr;
  max-width: 1200px;
  gap: var(--space-md);
  width: 100%;
  padding: var(--space-lg);
  container-type: inline-size;
}

.in-game__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.in-game .title-wrapper {
  text-align: center;
  cursor: pointer;
  transition: scale 500ms;
  @starting-style {
    scale: 0;
  }
}

.in-game .title-wrapper:hover {
  scale: 1.1;
}

.in-game .title-image {
  width: 26.04167cqi;
  min-width: 128px;
}
.in-game .title-wrapper p {
  font-size: max(1.215277cqi, 0.375rem);
}

.scores {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
  font-size: max(3cqi, 1rem);
  transition: scale 500ms;
  @starting-style {
    scale: 0;
  }
}

.in-game__body {
  align-self: center;
}

.active-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--space-md);
  container-type: inline-size;
  transition: scale 500ms;
  @starting-style {
    scale: 0;
  }
}

.card {
  --height: 26.04167cqi;
  --width: calc(var(--height) * 0.71413043478);
  --min-height: 160px;
  min-height: var(--min-height);
  min-width: calc(var(--min-height) * 0.71413043478);
  width: var(--width);
  height: var(--height);
  background: url('../assets/images/card-background-image.jpg') center / cover no-repeat;
  padding: var(--space-sm);
  display: grid;
  grid-template-rows: 1fr auto;
  text-align: center;
  cursor: pointer;
  container-type: inline-size;
}

.card__image {
  border-radius: 4px;
}

.card p {
  padding-top: var(--space-sm);
  text-wrap: nowrap;
  font-size: 7.062396271cqi;
}

/* card animation */

.card.flipped {
  animation: flipped 1250ms ease-out 1 forwards;
}

.card.flipped :is(.card__image, p) {
  animation: show-card 1350ms ease-out 1 forwards;
}

@keyframes flipped {
  0% {
    transform: rotate3d(0, 1, 0, 0deg);
    pointer-events: none;
  }

  50% {
    transform: rotate3d(0, 1, 0, 180deg);
    pointer-events: none;
  }
  
  80% {
    transform: rotate3d(0, 1, 0, 0deg);
    pointer-events: none;
  }

  100% {
    transform: rotate3d(0, 1, 0, 0deg);
    pointer-events: all;
  }
}

@keyframes show-card {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.tilt-card {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
}