.menu {
  justify-self: center;
  display: grid;
  grid-template-columns: 1fr;
  place-content: center;
  text-align: center;
  max-width: 600px;
  width: 100%;
  padding: var(--space-lg);
  container: menu / inline-size;
  transition: scale 500ms;
  @starting-style {
    scale: 0;
  }
}

.menu .title-wrapper {
  container: title / inline-size;
  margin-bottom: 14.159292cqi;
}

.menu p {
  font-size: 3.539823cqi;
}

.play {
  justify-self: center;
  font-size: 3.9823cqi;
  padding: 3.539823cqi 8.849557522cqi;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
  text-transform: uppercase;
  background-color: var(--neutral-300);
  color: var(--neutral-1100);
  font-weight: var(--fw-bold);
  transition: background-color, color, box-shadow 200ms ease;
  box-shadow: 0px 0px 60px var(--neutral-600);
  -webkit-box-reflect: below 10px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4));
}

.play:active {
  scale: 0.92;
}

.play:hover {
  background-color: red;
  box-shadow: 0px 0px 60px red;
  color: var(--neutral-300);
}