.settings-modal {
  border: none;
  border-radius: 4px;
  padding: var(--space-xl);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
  width: 400px;
  background-color: var(--neutral-1000);
  color: var(--neutral-100);
  overflow: visible;
}

.settings-modal::backdrop {
  background: rgba(0, 0, 0, 0.6);
}

.settings-modal[open] {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.settings-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  gap: var(--space-lg);
}

.settings-title {
  font-size: var(--fs-2xl);
}

.settings-wrapper > *:not(:is(.back-to-menu, .close)) {
  grid-column: 1 / -1;
}

.settings-wrapper > *:nth-child(n + 2) {
  background-color: var(--neutral-1100);
  padding: var(--space-md);
  border-radius: 8px;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr auto;
  cursor: pointer;
}

.settings-item-wrapper {
  display: grid;
  grid-template-columns: 1fr auto;
}

.settings-item-wrapper label {
  cursor: pointer;
}

.settings-item-button {
  color: var(--neutral-100);
  border: none;
}

.settings-wrapper > *:is(.back-to-menu, .close) {
  width: 100%;
}

.settings-wrapper > *:nth-child(n + 2):hover {
  background-color: var(--neutral-900);
  box-shadow: 0px 0px 10px var(--neutral-700);
}

.settings-wrapper > *:nth-child(n + 2):active {
  scale: 0.92;
}