.utility-menu {
  place-self: end;
  display: flex;
  gap: var(--space-lg);
  margin: var(--space-lg);
}

.utility-menu__item {
  --size: 32px;
  width: var(--size);
  height: var(--size);
  background-color: transparent;
  border: none;
  border-radius: 50%;
  color: var(--neutral-100);
  cursor: pointer;
  transition: background-color, color, box-shadow 200ms ease;
  -webkit-box-reflect: below 10px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4));
  transition: scale 500ms;
  @starting-style {
    scale: 0;
  }
}

.utility-menu__item:active {
  scale: 0.92;
}

.utility-menu__item:hover {
  color: var(--neutral-0);
  box-shadow: 0px 0px 60px var(--neutral-100);
}

svg {
  width: 100%;
}

@media (max-width: 30rem) {
  .utility-menu__item {
    --size: 28px;
  }
}
