.utility-menu {
  place-self: end;
  display: flex;
  gap: var(--space-lg);
  margin: var(--space-lg);
}

.utility-menu__item {
  --size: 32px;
  width: var(--size);
  height: var(--size);
  background-color: transparent;
  border: none;
  border-radius: 50%;
  color: var(--neutral-100);
  cursor: pointer;
  transition: background-color, color, box-shadow 200ms ease;
  box-shadow: 0px 0px 20px var(--neutral-600);
  -webkit-box-reflect: below 10px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4));
}

.utility-menu__item:active {
  scale: 0.92;
}

.utility-menu__item:hover {
  box-shadow: 0px 0px 60px red;
  color: red;
}

svg {
  width: 100%;
}

@media (max-width: 30rem) {
  .utility-menu__item {
    --size: 28px;
  }
}
