@font-face {
    font-family: 'Game of Thrones';
    src: url('./assets/fonts/GameofThrones.woff2') format('woff2'),
        url('./assets/fonts/GameofThrones.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --neutral-0: #FFFFFF;
    --neutral-100: #F8F8F8;
    --neutral-200: #f0f1f2;
    --neutral-300: #DDDEE1;
    --neutral-400: #B7B9BE;
    --neutral-500: #8C8F97;
    --neutral-600: #7D818A;
    --neutral-700: #6B6E76;
    --neutral-800: #505258;
    --neutral-900: #3B3D42;
    --neutral-1000: #292A2E;
    --neutral-1100: #1E1F21;


    --fs-4xs: 0.375rem;
    --fs-3xs: 0.5rem;
    --fs-2xs: 0.625rem;
    --fs-xs: 0.75rem;
    --fs-sm: 0.875rem;
    --fs-base: 1rem;
    --fs-md: 1.125rem;
    --fs-lg: 1.25rem;
    --fs-xl: 1.5rem;
    --fs-2xl: 1.875rem;
    --fs-3xl: 2.25rem;
    --fs-4xl: 3rem;
    --fs-5xl: 3.75rem;
    --fs-6xl: 4.5rem;
    --fs-7xl: 5.5rem;
    --fs-8xl: 7rem;
    --fs-9xl: 9rem;
    --fs-10xl: 11.5rem;
    --fs-11xl: 15rem;

    --fw-bold: 700;
    --fw-regular: 400;

    --space-0: 0;
    --space-1: 0.25rem;
    --space-2: 0.5rem;
    --space-3: 0.75rem;
    --space-4: 1rem;
    --space-5: 1.25rem;
    --space-6: 1.5rem;
    --space-8: 2rem;
    --space-10: 2.5rem;
    --space-12: 3rem;
    --space-16: 4rem;
    --space-20: 5rem;
    --space-24: 6rem;
    --space-30: 8rem;
    --space-38: 10rem;

    --space-xs: var(--space-1);
    --space-sm: var(--space-2);
    --space-md: var(--space-4);
    --space-lg: var(--space-6);
    --space-xl: var(--space-10);
    --space-2xl: var(--space-16);
    --space-3xl: var(--space-24);
    --space-4xl: var(--space-38);

    --ff-default: 'Game of Thrones';
}


body {
  min-height: 100dvh;
  font-family: var(--ff-default, system-ui, Avenir, Helvetica, Arial, sans-serif);
  font-size: var(--fs-base);
  font-weight: var(--fw-regular);
  color: var(--neutral-100);
  background-color: var(--neutral-1000);
  background: url(./assets/images/background-image.jpg) center / cover no-repeat;
}

